@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap');

:root {
  --blue: #4E8AE4;
  --black: #333333;
  --gray: #666666;
  --gray-licht: #999999;
  --white: #ffffff;
  --main-bg: #FAFAFA;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}